*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ac-custom ul,
.ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.ac-custom li {
	margin: 0 auto;
	padding: 10px 0;
	position: relative;
	border-radius: 5px;
}

.ac-custom li:hover {
	background-color: white;
}

.ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 26px;
	padding: 0 0 0 45px;
	vertical-align: top;
	color: #3A5269;
	cursor: pointer;
	-webkit-transition: color 0.1s;
	transition: color 0.1s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
	width: 35px;
	height: 35px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom label::before {
	content: '';
	border: 4px solid #3A5269;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	opacity: 0.2;
}

.ac-radio label::before {
	border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color: #2C3E50;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
	opacity: 1;
	border: 4px solid #2C3E50;
}

.ac-custom label::before{
	
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 50%;
	margin-top: -20px;
	left: 5px;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: orange;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}